{% extends "base.html" %} 
{% block styles %}
<style>
    /* Grid styles */
    .row {
        width: 100%;
        height: {{ 100 / config['grid']['rows'] }}%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;
        margin-bottom: 20px;
    }

    .col {
        display: flex;
        flex-direction: column;
        width: {{ 100 / config['grid']['columns'] }}%;
        height: 100%;
        gap: 20px;
    }

    .block {
        display: flex;
        flex-direction: column;
        justify-content: {{ config['input']['vertical_align'] }};
        align-items: {{ config['input']['horizontal_align'] }};
        height: 100%;
        padding: 10px;
        background-color: var(--shade-1);
        border: 1px solid var(--border);
        border-radius: 10px;
    }

    /* Navbar container with Flexbox */
    .navbar {
        background-color: var(--background);
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: left;
        height: 60px;
        margin: 0px 40px;
    }

    /* Logo */
    .logo {
        color: var(--text);
        vertical-align: middle;
        font-size: 20px;
        font-weight: bold;
        margin: auto 0;
    }

    /* Navbar links */
    .navbar .links {
        display: flex;
        align-items: center;
        margin: 0 20px;
    }

    .navbar a {
        color: var(--text);
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        font-size: {{ font_size | default('16px') }};
        font-family: {{ font_family | default("'Arial', sans-serif") }};
        font-weight: 400;
    }

    /* Navbar hover effect */
    .navbar a:hover {
        background-color: var(--border);
        color: var(--background);
        transition: background-color 0.3s ease-in-out;
    }

    /* Search bar */
    .search-container {
        display: flex;
        align-items: center;
    }

    .search-container input[type="text"] {
        padding: 6px;
        font-size: 17px;
        border: none;
        height: 40px;
    }

    .search-container button {
        padding: 6px 10px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
        height: 40px;
    }

    .search-container button:hover {
        background: #ccc;
    }
</style>
{% endblock %} 
    
{% block content %}
<body>
    {% if 'navbar' in config %}
    <div class="navbar">
        {% if 'logo' in config['navbar'] %}
        <div class="logo">{{ config['navbar']['logo'] }}</div>
        {% endif %}

        {% if 'links' in config['navbar'] %}
        <div class="links">
            {% for link in config['navbar']['links'] %}
            <a href="{{ link }}">{{ link }}</a>
            {% endfor %}
        </div>
        {% endif %}

        {% if config['navbar'].get('searchbar') %}
        <div class="search-container">
            <form action="/search">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit">Search</button>
            </form>
        </div>
        {% endif %}
    </div>
    {% endif %}

    {% if 'grid' in config %}
    <div class="container">
        {% for row in range(config['grid']['rows']) %}
        <div class="row">
          {% for col in range(config['grid']['columns']) %}
          <div class="col">

            <div class="block">
                {% if 'input' in config and config['input']['location'] == (row, col) %}
                <form action="">
                    <label for="{{ config['input']['input_type'] }}">{{ config['input']['input_type'] | title }}:</label>
                    <br>
                    {% if config['input']['default_value'] %}
                    <input type="{{ config['input']['input_type'] }}" id="{{ config['input']['input_type'] }}" value="{{ config['input']['default_value'] }}">
                    {% else %}
                    <input type="{{ config['input']['input_type'] }}" id="{{ config['input']['input_type'] }}">
                    {% endif %}
                </form>
                {% endif %}
            </div>

          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      {% endif %}
</body>
{% endblock %}
